<!DOCTYPE html>

<html>
    <head>
        <link rel="shortcut icon" href="/img/stars_favicon.png" type="image/x-icon" />
        <link rel="stylesheet" href="/css/styles.css" >    
        <body>
            <div class="main-content">
           {{>headers}}
      
            <center> 
                <img class="potrait" src= {{image}} >
            
            </center>
            </div>
                 {{>footers}}
        </body>
    </head>
</html>