<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css" >    
        <link rel="shortcut icon" href="/img/stars_favicon.png" type="image/x-icon" />   
      <body>
            <div class="main-content">
                {{>headers}}
            <h1><p> PAGE NOT FOUND, 404 Error </p> </h1>
            </div>
            {{>footers}}
        </body>
    </head>
</html>